/* @font-face {
    font-family: 'NeoSans';
    src: url('futura.ttf');
    font-weight: normal;
    font-style: normal;
}
* {
	font-family: 'NeoSans', sans-serif !important;
} */
#blackrectangle{
    margin-top:71px;
}

#pagethree{
    height:100vh;
    
    position:relative;
    width:100%;
    background-image: url("../../media/img/mac.png");
    background-size: initial;
    background-repeat: no-repeat;
    background-position:100% 40%;
    z-index:-1;
}

.list{
    text-align: Left;
position: relative;
top: 55px;
right:10px;
left:25px;
}
#points{
    font-style: Bold;
font-size: 24px;
line-height: 28px;
text-align: Left;
Fill: 
#000000;
}

#point{
    margin-top:15px;
    padding-left:auto;
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
}
#heading{
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
}

#pointnumber{
    font-size: 70px;
    line-height: 82px;
    font-weight: bold;
}
dl {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  dt {
    float: left;
    width: 20%;
    margin:0;
    padding:0;
  }
  dd {
    float: left;
    width: 80%;
    padding:0;
    margin: 0;
  }
  #leftsection{
      min-width: 400px;
      z-index: 1;
  }
  #blank{
      color:white;
      /* height: 0; */
      margin:14px;
      margin-top:0;
  }