/* @font-face {
    font-family: 'NeoSans';
    src: url('futura.ttf');
    font-weight: normal;
    font-style: normal;
}
* {
	font-family: 'NeoSans', sans-serif !important;
} */
#blackrectangle{
    margin-top:71px;
}

.pagethree{
    height:100vh;
    padding-left: 26px;
    padding-top: 70px;
    position:relative;
    width:100%;
    background-image: url("../../media/img/mac.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100% 40%;
    /* z-index:-1; */
}

.numberpoints{
    text-align: Left;
/* position: relative; */
}
#points{
    padding-top: 25px;
    padding-left: 0 !important;
font-size: 24px;
line-height: 28px;
text-align: Left;
margin-bottom:0;
Fill: #000000;
display:inline-block;
}
dl{
    list-style-type: none;
    width:100%;
    padding:0;
    margin:0;
}
dt{
    width:25%;
    padding:0;
    margin:0;
    float: left;
}
dd{
    /* float: left; */
    padding:0;
    margin:0;
    width:75%;
    display: inline-block;
}
#point-text{
    max-height: 90px;
    padding-top: 10px;
    vertical-align: bottom;
}
#point-text3{
    max-height: 90px;
    padding-top: 25px;
    vertical-align: bottom;
}

#point{ 
    /* padding-top: 22px; */
    padding-bottom: 22px;
    margin-bottom: 19px;
    margin-top: 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    /* border:solid #000; */
    
}
#heading{
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
}

#pointnumber {
    padding-right: 25px;
    font-size: 70px;
    line-height: 82px;
    font-weight: bold;
}

  #leftsidesection{
      min-width: 400px;
      z-index: 1;
      padding-top:0px;
  }
  /*responsive*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 361px) {
   
    .pagethree{
        text-align: center;
        background-image:none;
        
    }
    #blackrectangle{
        display:none;
    }
    #point{
        font-size: 16px;
        margin:0;
    }
    #point-text{
        font-size: 15px;
        margin:0;
        max-width: 220px;
    }

    #point-text3{
        font-size: 16px;
        margin:0;
    }
    #pointnumber{
        width:55px;
        font-size: 42px;
        padding-right: 2px;
    }
   
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 362px) and (max-width: 415px) {

    .pagethree{
        text-align: center;
        background-image:none;
        
    }
    #blackrectangle{
        display:none;
    }
    #point{
        font-size: 16px;
        margin:0;
    }
    #point-text{
        font-size: 15px;
        margin:0;
        max-width: 220px;
    }

    #point-text3{
        font-size: 16px;
        margin:0;
    }
    #pointnumber{
        width:55px;
        font-size: 42px;
        padding-right: 2px;
    }
   

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 
 