#buttoncontainer{
    z-index:1;
    width:210px;
    padding-left: 30px;
}
#signupbutton{
    width:208px;
    background: linear-gradient(to  right,#E01017,#69247D);
    border:none;
    color:white;
    height:76px;
    font-size: 28px;
    border-radius: 0;
    z-index:1;
}
.pageone{
    position:relative;
    width:100%;
    background-image: url("../../media/img/bg.png");
    background-size: cover;
    height: 100vh;
    background-position:top;
}
#sitetitle{
    font-weight: Bold;
    font-size: 70px;
    line-height: 57px;
    padding-left:50px;
    padding-top:20px;
    max-width: 500px;
}
#sitedescription{
    padding-right: 130px;
    padding-left:60px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
}
.blackcontainer{
    width:80%;
    height:473px;
  /* background-image: url("../../media/img/bg.png");*/
   
text-align: Left;
fill: #FFFFFF;
fill-opacity: 100%;
color:#FFFFFF;

background:linear-gradient(to  right,rgb(0,0,0,0.7),rgb(0,0,0,0.3));
padding-top:22px;
padding-left:10px;

}
.dotmetacontainer{
    padding-top: 120px;
    padding-left: 25px;
}