#submit-btn{
    width:414px;
    background: linear-gradient(to  right,#E01017,#69247D);
    border:none;
    color:white;
    height:76px;
    font-size: 28px;
    border-radius: 0;
    text-align: left;

padding-left: 20px;
}
/* #cleanspace{
    width:109px;
} */
#emailinput{
    width:411px;
    margin-bottom: 10px;
    display: block;
   color:white;
    height: 72px;
    background-color: black;
    border-color: rgb(10, 9, 9);
    
    padding:20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}
.right-section{

    text-align: left;
   line-height:28px;
   /* width:414px; */
   /* right: 109px; */
}
#high{
    
    margin-top:10px;
}
#mid{
    margin-top:10px;
}
#low{
    margin-top:30px;
    
}

#socialnet{
    color:white;
    position: absolute ;
    right:0;
    padding-right: 15px;
    top:90%;
}
#sociallink{
    margin:10px;
}
.lastpage{
    position:relative;
    width:100%;
    background-image: url("../../media/img/bg3.png");
    background-size: cover;
    height: 100vh;
    background-position:top;
    
}
#proj-title{
    font-weight: Bold;
    font-size: 96px;
    line-height: 79px;
    max-width: 300px;
}

#proj-info{
    font-weight: 300;
   
font-size: 24px;
line-height: 28px;
text-align: left;
fill: #FFFFFF;
fill-opacity: 100%;
max-width: 414px;
}
.blackblock{
    position: relative;
    width:90%;
    height:501px;
  /* background-image: url("../../media/img/bg.png");*/
text-align: Left;
fill: #FFFFFF;
color:#FFFFFF;
z-index: 1;
background:rgb(0,0,0,0.7);
padding-top:78px;
padding-left:40px;

}
.footer{
    padding-top: 109px;
    padding-left: 25px;
}


/*responsive*/

/* Galaxy */
@media only screen and (max-width: 360px) {
   
    .lastpage{
        text-align: center;
    }
    .footer{
        padding-left: 0;
    }
    .blackblock{
        padding:0;
        padding-top: 15px;
        text-align: center;
        width:340px;
        height: auto;
    }
    #proj-title{
        padding-left: 10px;
        font-size: 28px;
        line-height: 28px;
    }
    .rightsection{
        
        text-align: center;
        width:300px;
    }
    #high{
        width: 340px;
    }
    #mid{
        width: 340px;
        padding-left: 15px;
    }

    #low{
        width: 340px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    #submit-btn{
        width:300px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    #proj-info{
        font-size: 20px;
        text-align: center;
    }
    .left-section{
        text-align: center;
    }
    #emailinput{
        width:300px;
    }
} 

/*Iphone 678*/

@media only screen 
    and (min-width : 375px)  and (max-width: 420px) and (max-height: 670px) and (max-width: 376px)
     {
    .lastpage{
        height: 100%;
        width:100%;
        text-align: center;
        margin-top: 15px;
    }
    .footer{
        padding-left: 0;
    }
    .blackblock{
        padding:0;
        padding-top: 15px;
        text-align: center;
        width:360px;
        height: auto;
    }
    #proj-title{
        /* padding-left: 10px; */
        font-size: 40px;
        line-height: 38px;
        margin:0 auto;
    }
    .rightsection{
        
        text-align: center;
        width:360px;
    }
    #high{
        width: 360px;
        margin-bottom: 20px;
    }
    #mid{
        width: 360px;
        padding-left: 15px;
        
        margin-bottom: 20px;
    }

    #low{
        width: 360px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    #submit-btn{
        width:340px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    #proj-info{
        font-size: 24px;
        /* line-height: 40px; */
        padding: 5px;

        text-align: center;
        margin:0 auto;
    }
    .left-section{
        text-align: center;
    }
    #emailinput{
        width:340px;
    }

} 
/*IPHONE X*/
@media only screen and (min-width: 373px) and (max-width: 378px) and (min-height: 800px) and (max-height: 820px){
    .lastpage{
        text-align: center;
    }
    .footer{
        padding-left: 0;
    }
    .blackblock{
        padding:0;
        padding-top: 15px;
        text-align: center;
        width:340px;
        height: auto;
    }
    #proj-title{
        padding-left: 10px;
        font-size: 28px;
        line-height: 28px;
    }
    .rightsection{
        
        text-align: center;
        width:300px;
    }
    #high{
        width: 340px;
    }
    #mid{
        width: 340px;
        padding-left: 15px;
    }

    #low{
        width: 340px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    #submit-btn{
        width:300px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    #proj-info{
        font-size: 20px;
        text-align: center;
    }
    .left-section{
        text-align: center;
    }
    #emailinput{
        width:300px;
    }
    #socialnet{
        padding-top: 100px;
        top:inherit !important;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen 
    and (min-width : 375px)  and (max-width: 420px) and (max-height: 800px)
     and (min-height: 670px){
    .lastpage{
        height: 100%;
        width:102%;
        text-align: center;
    }
    .footer{
        padding-left: 0;
    }
    .blackblock{
        padding:0;
        padding-top: 15px;
        text-align: center;
        width:380px;
        height: auto;
    }
    #proj-title{
        /* padding-left: 10px; */
        font-size: 40px;
        line-height: 38px;
        margin:0 auto;
    }
    .rightsection{
        
        text-align: center;
        width:380px;
    }
    #high{
        width: 380px;
        margin-bottom: 20px;
    }
    #mid{
        width: 380px;
        padding-left: 15px;
        
        margin-bottom: 20px;
    }

    #low{
        width: 380px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    #submit-btn{
        width:350px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    #proj-info{
        font-size: 32px;
        line-height: 40px;
        padding: 5px;

        text-align: center;
        margin:0 auto;
    }
    .left-section{
        text-align: center;
    }
    #emailinput{
        width:350px;
    }

} 

/*PIXEL 2XL*/
@media only screen and (min-width: 410px) and (min-height: 820px) and (max-height:829px) {
    .lastpage{
        text-align: center;
        padding-top: 100px;
        padding-left: 25px;
    }
    .footer{
        padding-left: 0;
    }
    .blackblock{
        padding:0;
        padding-top: 15px;
        text-align: center;
        width:340px;
        height: auto;
    }
    #proj-title{
        padding-left: 10px;
        font-size: 28px;
        line-height: 28px;
    }
    .rightsection{
        
        text-align: center;
        width:300px;
    }
    #high{
        width: 340px;
    }
    #mid{
        width: 340px;
        padding-left: 15px;
    }

    #low{
        width: 340px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    #submit-btn{
        width:300px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    #proj-info{
        font-size: 20px;
        text-align: center;
    }
    .left-section{
        text-align: center;
    }
    #emailinput{
        width:300px;
    }
    #socialnet{
        padding-top: 100px;
        top:inherit !important;
    }
}
/* Iphone SE */
@media only screen and (max-width: 321px) {
    .lastpage{
        /* height: 100%;
        width:100%; */
        text-align: center;
    }
    .footer{
        padding-left: 0;
    }
    .blackblock{
        padding:0;
        padding-top: 15px;
        text-align: center;
        width:300px;
        height: auto;
    }
    #proj-title{
        /* padding-left: 10px; */
        font-size: 30px;
        /* line-height: 38px; */
        margin:0 auto;
        padding-left: 0;
    }
    .rightsection{
        
        text-align: center;
        width:280px;
    }
    #high{
        width: 280px;
        /* margin-bottom: 20px; */
    }
    #mid{
        width: 300px;
        padding-left: 10px;
        margin:0;
        /* margin-bottom: 20px; */
    }

    #low{
        margin-top: 0;
        width: 280px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    #submit-btn{
        width:280px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    #proj-info{
        font-size: 22px;
        line-height: 40px;
        padding: 5px;

        text-align: center;
        margin:0 auto;
    }
    .left-section{
        text-align: center;
    }
    #emailinput{
        width:280px;
    }

} 
/*Iphone +*/
@media only screen and (min-width: 410px) and (min-height: 730px ) and (max-height: 740px) and (max-width: 420px){
    .lastpage{
        height: 100%;
        width:100%;
        text-align: center;
        margin-top: 15px;
    }
    .footer{
        padding-left: 0;
    }
    .blackblock{
        padding:0;
        padding-top: 15px;
        text-align: center;
        width:360px;
        height: auto;
    }
    #proj-title{
        /* padding-left: 10px; */
        font-size: 40px;
        line-height: 38px;
        margin:0 auto;
    }
    .rightsection{
        
        text-align: center;
        width:360px;
    }
    #high{
        width: 360px;
        margin-bottom: 20px;
    }
    #mid{
        width: 360px;
        padding-left: 15px;
        
        margin-bottom: 20px;
    }

    #low{
        width: 360px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    #submit-btn{
        width:340px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    #proj-info{
        font-size: 24px;
        /* line-height: 40px; */
        padding: 5px;

        text-align: center;
        margin:0 auto;
    }
    .left-section{
        text-align: center;
    }
    #emailinput{
        width:340px;
    }
}