html,
body {
	margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

footer,
header {
  color: #fff;
  text-align: center;
  padding: 10px;
}


footer {
   color: #000;
}

a {
  display: inline-block;
  
  text-decoration: none;
  
  
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a.active,
a:hover {
  color: rgb(129, 76, 150);
}

button {
  width: 50px;
  padding: 8px;
}

.btnGroup {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9;
}
*{
  font-family: 'futura-pt' !important; 
}

.Navigation > a{
    background-color:#fff !important;
    border:solid !important;
    border-radius: 50% !important;
    border-color: rgba(40,40,40,0.9) !important;
}