html,
body {
	margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

footer,
header {
  color: #fff;
  text-align: center;
  padding: 10px;
}


footer {
   color: #000;
}

a {
  display: inline-block;
  
  text-decoration: none;
  
  
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a.active,
a:hover {
  color: rgb(129, 76, 150);
}

button {
  width: 50px;
  padding: 8px;
}

.btnGroup {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9;
}
*{
  font-family: 'futura-pt' !important; 
}
.yes{
  display:none;
  width:100%;
  height:0px;
}
.no{
  display:none;
  width:100%;
  max-height: 0px;
  height:0px;    
  margin:0 ;
}
.Navigation > a{
    background-color:#fff !important;
    border:solid !important;
    border-width:1.5px !important;
    border-radius: 60% !important;
    border-color: rgba(40,40,40,0.9) !important;
}
@media only screen and (max-width: 600px) {
.Navigation >a{
  display:none !important;
}
.yes{
  width:100%;
  display: block;
  margin-bottom:640px;
}

}
