
#but1{
    height:100px;
    margin :12px;
    margin-bottom:0;
    font-size:16px;
}
#but2{
    position: relative;
    margin :12px;
    
    margin-bottom:0;
    height:100px;
    
    font-size:16px;
}
#but3{
    font-size:16px;
    margin :12px;
    height:100px;
    margin-bottom:0;
}
#but4{
    font-size:16px;
    margin :12px;
    height:100px;
    
    margin-bottom:0;
}
#but5{
    font-size:16px;
    margin :12px;
    height:100px;
    margin-bottom:0;
}
#but6{
    font-size:16px;
    margin :12px;
    height:100px;
    margin-bottom:0;
}
#whitespace{
    width:100%;
    height:100vh;
}
header{
    color:black;
}

.card {
    padding-bottom:10px;
    word-wrap: none;
    perspective: 4440px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  
  
  .card:hover  {
   /* transform: rotateY( -180deg ) ;
    transition: transform 0.5s;
  */
  
  box-shadow: 14px 0 120px 4px #b4b4b4;
    backgound-color:#7c7c7c;
}

.card:active{
    color:#E01017;
    
}
  
  .front {
    min-height: 100px;
    text-align: auto;
    backface-visibility: visible;
    margin-bottom: 10px;
  }
  #lm{
      margin-left:2px;
  }
  .back {
    backface-visibility: hidden;
    text-align: center;
    /* background: #030402;
    color: white; */
    margin-bottom :8px;
    /*transform: rotateY( 360deg );
  */}