
#descriptiontext{
    position: relative;
  
   margin:0 !important;
    font-size:17px;
    /* line-height: 19px; */
    font-weight: 400;
    padding-right: 38px;
    padding-left:38px;
    min-height: 100px;
}

#pagetwo{
    width:100%;
    height:90vh;
    padding-top:60px;
}
#brand >h4{
    padding-top: 18px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
header{
    color:black;
}
#producttitle{
    padding-left:25px;
    margin-bottom:10px;

}
.productlogo{
    min-height: 100px;
    max-height: 100px;
}
#producttitle >h2{
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
}
.productelement {
    margin-bottom:10px;
    padding-bottom:10px;
    
    perspective: 4440px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    max-width: 300px;
    /* min-height: 240px; */
}
  
  
  .productelement:hover  {
   /* transform: rotateY( -180deg ) ;
    transition: transform 0.5s;
  */
  border:1px;
  box-shadow: 5px 0 120px 2px #b4b4b4;
    /* background-color:#7c7c7c; */
}

.productelement:active{
    color:#E01017;
    
}
  
  .productlogo {
    text-align: auto;
    backface-visibility: visible;
    margin-bottom: 10px;
  }
  #lm{
      margin-left:2px;
  }
  .productdescription {
    backface-visibility: hidden;
    text-align: center;
    /* background: #030402;
    color: white; */
    margin-bottom :8px;
    
    /*transform: rotateY( 360deg );
  */}